@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth !important;
}

.container {
  @apply w-[90%] xl:w-[80%] xl:max-w-[1250px] mx-auto;
}

.headerNav {
  @apply px-5 py-4 xl:px-20 w-full flex items-center justify-between gap-6;
}
.navLink {
  @apply hidden tab:flex items-center justify-start gap-6;
}

.btn {
  @apply outline-none rounded-md w-fit py-3 px-4 font-dm text-base font-medium flex items-center justify-center hover:opacity-80 transition-all duration-300;
}

.headingtext {
  @apply text-3xl text-dark font-dm md:text-4xl tab:text-6xl xl:text-7xl font-medium;
}

.headingtext2 {
  @apply text-3xl text-dark font-dm md:text-4xl tab:text-6xl font-medium;
}

.card {
  @apply w-full border-2 border-bordergray rounded-2xl p-6 tab:p-8 flex flex-col items-start justify-start gap-4;
}

.sectionCon {
  @apply w-full flex flex-col items-center justify-between tab:flex-row gap-6 py-12;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
